.box {
    width: 600px;
    height: 300px;
    padding: 20px;
    border: 5px ;
    margin: 15px;
    background-color: tan;
    
}
.icon {
    font-size: 24px;
    color: gray;
    margin: 10px;
}
a:link {
    color: gray;
}
a:hover {
    color: khaki;
}
a:visited {
    color: brown;
}
a:active {
    color: salmon;
}
ul {
    background: #cce5ff;
    color: blue;
    padding: 20px;
}
ul li {
    background: #cce5ff;
    color: blue;
    margin: 5px;
}
p{
    border: 5px; solid: burlywood;
    outline-style: brown;
    outline-color: khaki;
    outline-width: 10px;
}
ul.a {
    list-style: circle;
}
h2 {
    text-shadow: 2px 2px teal;
}
h2 {
    font-size: 40px;
}
p {
    font-size: 17px;
}

th {
    text-align: center;
    background-color: grey;
}
table { 
    border-collapse: collapse;
}
h2 {
    color: teal;
    text-decoration: capitalize;
}
p {
    font-family: tahoma;
}